body {
  background-color: pink;
}

#container {
  z-index: 0;
}

#title-container {
  color: white;

  height: 20vh;
  min-height: 100px;

  margin: 5vh 0;
}

#title {
  color: white;
  
  font-size: 5em;
  font-weight: 100;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#shops {
  color: white;

  width: 70vw;
  min-width: 400px;

  flex-wrap: wrap;
}

.shop {
  width: 150px;
  height: 150px;

  border-radius: 50%;
  
  background-color: white;
  background-image: none;
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: center;
  
  margin: 50px;
}

.shop:hover {
  height: 200px;
  width: 200px;
  margin: 25px;
}

.shop:active {
  height: 150px;
  width: 150px;
  margin: 50px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  
  align-items: center;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  
  align-items: center;
  justify-content: center;
}